html{
    line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {
    box-sizing: inherit}
/* end of snippet */


/* SECTION stripping styles */
html {
    font-size: 62.5%;
}

.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

/* !SECTION stripping styles */

.mainSection {
    min-height: calc(80vh - 28.4px);
    padding-top: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightskyblue;
    min-height: 20vh;
    transition: min-height 1s;
}

.homePage {
    min-height: 100vh;
}

h1 {
    margin: 0;
    padding: 20px;
    font-weight: 500;
}

header p {
    margin: 0;
    padding: 5px;
}

button {
    background: lightslategrey;
    border: 3px solid lightslategrey;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    box-shadow: 2px 2px 2px black;
    margin: 10px auto;
    padding: 10px 20px;
    transition: background 0.5s;
    cursor: pointer;
}

button:hover,
button:focus {
    background: peachpuff;
} 

/* SECTION form elements */

fieldset {
    border: 3px solid lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 485px;
    margin-bottom: 10px;
}

fieldset legend {
    font-weight: 500;
}

fieldset label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    border: 1px solid lightslategrey;
    cursor: pointer;
}

fieldset label[for="crow3"] {
    padding: 15px;
}

fieldset label:hover,
fieldset label:focus {
    background: peachpuff;
}

fieldset input:checked + label {
    background: peachpuff;
}

fieldset input {
    display: none;
}

/* FONT STYLES FOR QUESTION FIVE */
fieldset label[for="crow5"] {
    font-family: 'Architects Daughter', cursive;
}

fieldset label[for="mourningDove5"] {
    font-family: 'Dancing Script', cursive;
}

fieldset label[for="cardinal5"] {
    font-family: 'Cinzel', serif;
}

fieldset label[for="sparrow5"] {
    font-family: 'Questrial', sans-serif; 
}

fieldset label[for="blueJay5"] {
    font-family: 'Permanent Marker', cursive;
}
/* !SECTION form elements */

/* SECTION results */

img {
    width: 400px;
    height: 300px;
    background-position: center;
    border: 5px solid white;
    box-shadow: 0px 0px 0px 3px teal;
}

/* !SECTION results */

footer {
    background: lightskyblue;
    width: 100%;
    padding: 5px;
}


/* SECTION media queries */
@media (max-width: 820px) {
    fieldset label {
        height: 75px;
    }
}

@media (max-width: 470px) {
    fieldset {
        height: 785px;
    }

    fieldset label {
        height: 135px;
    }

    img {
        width: 200px;
        height: 150px;
    }
}